node_modules
npm-debug.log
.git
.github
.gitignore
.env
.env.*
!.env.example

coverage
.nyc_output
.npm-cache

tests
jest.config.js
eslint.config.js

README.md
task
task.pub

logs/*
!logs/.gitkeep

Dockerfile
docker-compose.yml
.dockerignore
